body{
    background-image: url("background.jpg");
    background-size: cover;
    text-align: center;
    margin-top: 20px;
}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 10px;
    width: 125px;
  }
  img
  {
     width: 500px;
     height: 300px;
  }